@charset "UTF-8";
h1{text-indent:6.5em;}


/*背景色*/
body{
    background-color: #fffff0
}

/* waku */
.flame14{
margin: 2em auto;
padding: 1em;
width: 40%;
color: #606060;
background-color: #fcf5e8;
border: 2px solid #deb887;
border-radius: 10px;
}